body {
    margin: 0;
    font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7d7d7d;
    text-align: left;
    background-color: #fff; }

.profile-loaded-subscriber > .profile-data{
    max-width: 400px;
}

.profile-loaded-subscriber > .profile-data img{
    border-radius: 50%;
    border: 2px solid #ff8201;
}




.btn.btn-primary-nest{
    color: #fff;
    background-color: #ff8201;
    border-color: #ff8201;
    padding: .2rem 2.5rem;
    text-transform: uppercase;
}

.btn-outline-nest {
    color: #ff8201;
    border-color: #ff8201;
}
.search-form .btn-outline-nest{
    border-color: #ced4da;
    border-left: none;
    border-right:  none;
}
.search-form .input-group-append .btn-outline-nest:first-child {
    border-left:  1px solid #fff;
}
.search-form .input-group-append .btn-outline-nest:last-child {
    border-right:  1px solid #ced4da;
}
/* navbar */
.navbar-nav .nav-item {
    position: relative;
    text-transform: uppercase;
    padding-right:20px;
    padding-left:20px;
}

/*.navbar-nav .nav-item:first-child{*/
/*    padding-left:unset;*/
/*}*/

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: unset;
}
/*.navbar-nav .nav-item.active a{*/
/*    color:#797979;*/
/*}*/

.navbar-nav > .nav-item:not(.dropdown):not(last-child):before {
    position: absolute;
    right: 0px;
    bottom: 0.4rem;
    top: 0.4rem;
    width:3px;
    content: '';
    background-color:#cfcfcf;
}

.navbar-nav .nav-item:not(.dropdown):not(.nav-link):after {
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 20px;
    height: 3px;
    content: '';
    transition: right .3s cubic-bezier(.23,1,.32,1);
    background-color:#ff8201;
}

.navbar-nav .nav-item.active:not(.dropdown):after,
.navbar-nav .nav-item:hover:not(.dropdown):not(.nav-link):after{
    right: 20px;
}